#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        
        input-gpios
            /* Action buttons */
            = <&pro_micro 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D1 - Square
            , <&pro_micro 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D0 - Triangle  
            , <&pro_micro 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D2 - R1
            , <&pro_micro 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D3 - L1
            , <&pro_micro 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D4 - Cross
            , <&pro_micro 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D5 - Circle
            , <&pro_micro 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D6 - R2
            , <&pro_micro 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D7 - L2
            
            /* D-pad */
            , <&pro_micro 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D8 - Up
            , <&pro_micro 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   // D9 - Down
            , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D10 - Left
            , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D16 - Right
            
            /* System buttons */
            , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D14 - Start
            , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  // D15 - Select
            ;
    };

    /* Analog joystick configuration */
    anin0: analog_input_0 {
        compatible = "zmk,analog-input";
        
        /* Pin configuration for X and Y axes */
        x-channel = <0>;    // ADC channel 0 (A0/P0.02)
        y-channel = <3>;    // ADC channel 3 (A1/P0.29)
        
        /* Voltage range */
        min-mv = <0>;
        max-mv = <3300>;
        
        /* Deadzone and polling */
        deadzone = <300>;
        poll-period-ms = <8>;
    };
};

/* ADC configuration for nice!nano v2 */
&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;
    
    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN0>; // P0.02
        zephyr,resolution = <12>;
    };
    
    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,input-positive = <NRF_SAADC_AIN3>; // P0.29
        zephyr,resolution = <12>;
    };
};